* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#grad1 {
    background-color:  #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #7635dc)
}

#msform_facture {
    text-align: center;
    position: relative;

}

#msform_facture fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform_facture fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform_facture fieldset:not(:first-of-type) {
    display: none
}

#msform_facture fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform_facture input,
#msform_facture textarea {
    padding: 0px 8px 4px 8px;
    /* border: none; */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-bottom: 25px; */
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform_facture input:focus,
#msform_facture textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #7635dc;
    outline-width: 0
}

#msform_facture .action-button {
    width: 100px;
    background: #7635dc;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform_facture .action-button:hover,
#msform_facture .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #7635dc
}

#msform_facture .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform_facture .action-button-previous:hover,
#msform_facture .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid #7635dc
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbars {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    height: 4.7rem !important;
}

#progressbars .active {
    color: #000000
}

#progressbars li {
    list-style-type: none;
    font-size: 12px;
    width: 16%;
    float: left;
    position: relative
}

#progressbars #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbars #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbars #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbars #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbars li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #7635dc;
    background: white;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    border: 1px solid #7635dc !important;
}

#progressbars li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbars li.active:before,
#progressbars li.active:after {
    background: #7635dc;
    border: 1px solid #7635dc !important;
    color: white;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}



#progressbars #etape1:before {
    font-family: FontAwesome;
    content: "1"
}
#progressbars #etape2:before {
    font-family: FontAwesome;
    content: "2"
}
#progressbars #etape3:before {
    font-family: FontAwesome;
    content: "3"
}
#progressbars #etape4:before {
    font-family: FontAwesome;
    content: "4"
}
#progressbars #etape5:before {
    font-family: FontAwesome;
    content: "5"
}
#progressbars #etape6:before {
    font-family: FontAwesome;
    content: "\f00c"
}

.navigation_module .nav-link {
    color: #637381;
    padding: 5px;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms;
    margin-right: 1rem;
    text-transform: uppercase;
    padding-top: 10px;
    border: none;
}

.nav-item .nav-link.active {
    border-bottom: 3px solid #7635dc !important;
    border: none;
    color: #7635dc
}

.nav-tabs .nav-link:hover {
    background-color: rgb(245, 243, 243);
    transform: scale(1.1);
    border: none;
}
.nav-tabs .nav-item a{
    text-decoration: none;
    text-decoration-line: none;
}
.facture_table th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.centrer{
    margin: auto;
    width:90%;
}
.inner table tr th{
    color: #6a6969;
}
.inner table tr td{
    color: #807d7d;
}
.inner td{
    border-top:1px solid #dee2e6;
}
.inner thead tr th{
    border-bottom:#dee2e6;
}
.inner tr th{
    border-bottom:2px solid #dee2e6 !important;
}