.nav .btn{
    background-color: #f7f7f7;
    border: none;
}

.nav .btn:hover{
    background-color: #dddddd;
    border: none;
}


.nav .c{
    background-color: #dddddd;
    color: #801D68;
}

.nav .b{
    background-color: #dddddd;
    color: #801D68;
}
.nav .bb{
    background-color: #eeeeee;
    color: #801D68;
}

.system_{
    text-align: left;
    border: none;
    border-bottom: 1px solid #c22d9d;
}
.system_num{
    text-align: right;
    color: #801d68;
    font-size: 20px;
    border-radius: 10px;
    float: right;
    position: relative;
    bottom: .5rem;
}

.system_numero{
    text-align: right;
    color: white;
    background-color: #9d207d;
    border: none;
    border-radius: 5px;
    float: right;
    padding-left: 5px;
    padding-right: 5px
}


.system_numeroAlert{
    text-align: right;
    color: white;
    background-color: #d32727;
    border: none;
    border-radius: 5px;
    float: right;
    padding-left: 5px;
    padding-right: 5px
}


.system_numeroSuccess{
    text-align: right;
    color: white;
    background-color: #25d315;
    border: none;
    border-radius: 5px;
    float: right;
    padding-left: 5px;
    padding-right: 5px
}